<h1>Submit Agreement</h1>

<%= form_for @client_application, url: save_all_details_path, method: :post,:html => { :multipart => true } do |f| %>

    <div class="field">
      <%= f.label :agreement_type %>
      <%= f.text_field :agreement_type, :readonly => true %>
    </div>
    <div class="field">
      <%= f.file_field :client_agreement%>
    </div>
    
    <div class="field">
      <%= f.label :custom_agreement%>
      <%= f.check_box :custom_agreement, id: :custom_agreement %>
  
    </div>

    <div class="field">
      <%= f.label :custom_agreement_comment, id: :custom_agreement_comment_label, hidden: :true %>
      <%= f.text_field :custom_agreement_comment, id: :custom_agreement_comment, hidden: :true %>
    </div>

    <div>
      <%= f.label :signed_documents%><br>
      <%if !@client_application.client_agreement.url.nil? %>
          <%=  link_to @client_application.client_agreement.url.split('/')[-1], @client_application.client_agreement.url, target: '_blank'  %>
      <%end%>

    </div>

    <div>
      <%= f.submit 'Save' %>
    </div>

<%end %>

<%= hidden_field_tag :client_application_id, @client_application.id.to_s%>
<br>

<div class="actions">
  <%= link_to "Reset Questionnaire", root_path, :class => "skip_survey" %>
</div>