<p id="notice"><%= notice %></p>

<h1>About Us</h1>

<table class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th> Body</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @about_us.each do |about_u| %>
      <tr>
        <td> <%= raw(about_u.body) %></td>
        <td><%= link_to 'Show', about_u %></td>
        <td><%= link_to 'Edit', edit_about_u_path(about_u) %></td>
        <td><%= link_to 'Destroy', about_u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About U', new_about_u_path %>
 