<p id="notice"><%= notice %></p>

<h1>About Us</h1>


<table class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th> Body</th>
      <td></td>
      <td></td>
      <td></td>
  </thead>

  <tbody>

      <tr>
        <td> <%= raw(@about_us.body) %></td>
        <td><%= link_to 'Show', @about_us %></td>
        <td><%= link_to 'Edit', edit_about_u_path(@about_us) %></td>
        <td><%= link_to 'Destroy', @about_us, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </tbody>
</table>

<br>

<% if @about.length < 1 %>
  <%= link_to 'New About Us', new_about_u_path %>
<% end %>
