<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="1">Task Status</th>
      <th colspan="1">Task Type</th>
      <th colspan="1">Appointment Time</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_status%></td>
        <td><%= task.task_type%></td>
        <td><%= task.task_deadline.strftime("%m/%d/%Y %I:%M%p")%></td>

        <td><%#= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%#= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
