<%= form_with(model: service_provider_detail, local: true) do |form| %>
  <% if service_provider_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_provider_detail.errors.count, "error") %> prohibited this service_provider_detail from being saved:</h2>

      <ul>
      <% service_provider_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%#= form.label :name %>
    <%= form.text_field :service_provider_name, id: :service_provider_name, placeholder: "Provider Name" %>
  </div>
  <div class="field">
    <%= form.label :share %>
    <%= form.check_box :share %>
  </div>
  <div class="field">
    <%= form.label :provider_type %>
    <%= form.text_field :provider_type, id: :provider_type, placeholder: "Provider Type" %>
  </div>
  <div class="field">
    <%= form.label :data_storage %>:
    <%= form.radio_button( :data_storage_type, "Internal", :class => "internal_data_storage" ) %> Internal
    <a href="#" data-toggle="tooltip" title="By selecting Internal you are opting to you chc's database. To use the chc database you will have to provide a list of service providers with all the required fields in a csv file."><%=image_tag "question_mark1.png", :style => "width:20px;height;20px;"%></a>
    <%= form.radio_button( :data_storage_type, "External",:class => "external_data_storage" ) %> External
    <a href="#" data-toggle="tooltip" title="By selecting External you are opting to use an external storage maintained by your organization. You will need to provide api with all the required parameters."><%=image_tag "question_mark1.png", :style => "width:20px;height;20px;"%></a>
  </div>

    <div class="field hide service_provider_api">
      <%= form.label :service_provider_api %>
      <%= form.text_field :service_provider_api, id: :service_provider_api %>
    </div>

    <div class="field hide upload_csv">
      <%= form.label :upload_csv %>

    </div>
    <div class="field">
      <%= form.hidden_field(:client_application_id, :value => @client_application)%>
    </div>

    <div class="field">
      <%= form.label :filtering_fields%><br>
      <%= text_field_tag "field_name",'', :placeholder => "Field Name"%>
      <%= select_tag "filter_field_type", options_for_select(["Input", "Dropdown"])%>
      <%= text_field_tag "filter_field_values", '',:placeholder => "droprown list values"%>
      <%= button_tag "Add",type: "button", :class => "add_filter_fields"%><br>
      <%= form.text_area :filtering_fields, :id => "filtering_field_text", cols: 50, row: 80 %>
    </div>

  <div class="actions">
    <%= form.submit class: 'submit_button' %>
  </div>
<% end %>
