<%= button_tag "Add Program",type: "button", id: "add_programs", class: "collectButton",remote: true%>  
<br>
<br>
<% if @program.present? %>
  <% @program.each do |x| %>
      <% if x['InactiveProgram'] == true %>
          <p>Inactive Program</p>
          <button type="button" class="toggleProgram">Toggle Program</button>
          <div class=" ProgramForm row" style="display: none;">
      <% else %>
          <!-- <div class=" ProgramForm row"> -->
          <div class=" ProgramForm row">
      <% end %>

      <div class="col-md-4">
        <%= label_tag :InactiveProgram %>
        <%= check_box_tag :InactiveProgram, x['InactiveProgram'], x['InactiveProgram']%><br>

        <%= label_tag :ProgramName %>
        <%= text_field_tag :ProgramName, x['ProgramName'] %><br>

        <%= label_tag :QuickConnectWebPage %>
        <%= text_field_tag :QuickConnectWebPage, x['QuickConnectWebPage'] %><br>
        <%= label_tag :ContactWebPage %>
        <%= text_field_tag :ContactWebPage, x['ContactWebPage'] %><br>
        <%= label_tag :ProgramWebPage %>
        <%= text_field_tag :ProgramWebPage, x['ProgramWebPage'] %><br>

        <%= label_tag :ProgramComment %>
        <%= text_field_tag :ProgramComment, x['ProgramComment'] %><br>

        <%= label_tag :SelectprogramID %>
        <%= text_field_tag :SelectprogramID, x['SelectprogramID'], readonly: true %><br>

        <%= label_tag :ProgramSites %>
        <% if !x['ProgramSites'].nil? %>
            <%= text_field_tag :ProgramSites, x['ProgramSites'].join(','), name: :ProgramSites %><br>
        <% else %>
            <%= text_field_tag :ProgramSites, x['ProgramSites'], name: :ProgramSites %><br>
        <% end %>

        <% if x['ProgramDescription'] != nil %>
            <h3><i>Program Description</i></h3>
            <% x['ProgramDescription'].each do |pd| %>
                <div class="programProgramDescription" >
                  <%= label_tag :Xpath %>
                  <%= text_field_tag :Xpath, pd['Xpath'], name: :Xpath, readonly: true  %><br>
                  <%= label_tag :Text %><br>
                  <%= text_field_tag :Text, pd['Text'], name: :Text, size: '45'%><br>
                  <%= label_tag :Domain %>
                  <%= text_field_tag :Domain, pd['Domain'], name: :Domain, readonly: true  %><br>
                </div>
            <% end %>
        <% end %>

        <div>
          <%= label_tag :ProgramDescriptionDisplay %><br>
          <%= text_area_tag :Text, x['ProgramDescriptionDisplay'], name: :ProgramDescriptionDisplay, onmouseover:'this.style.height = this.scrollHeight + "px"',rows:"5", cols:"44"%><br>
        </div>

        <% if x['ServiceAreaDescription'] != nil && x['ServiceAreaDescription'] != "" %>
            <h3><i>Service Area Description</i></h3>
            <% x['ServiceAreaDescription'].each do |pd| %>
                <div class="programServiceAreaDescription" >
                  <%= label_tag :Xpath %>
                  <%= text_field_tag :Xpath, pd['Xpath'], name: :Xpath, readonly: true   %><br>
                  <%= label_tag :Text %><br>
                  <%= text_field_tag :Text, pd['Text'], name: :Text, size: '45'%><br>
                  <%= label_tag :Domain %>
                  <%= text_field_tag :Domain, pd['Domain'], name: :Domain, readonly: true   %><br>
                </div>
            <% end %>
        <% end %>

        <div>
          <%= label_tag :ServiceAreaDescriptionDisplay %><br>
          <%= text_area_tag :Text, x['ServiceAreaDescriptionDisplay'], name: :ServiceAreaDescriptionDisplay, onmouseover:'this.style.height = this.scrollHeight + "px"',rows:"5", cols:"44"%><br>
        </div>

        <% if x['ProgramReferences'] != nil %>
            <h3><i>Program References</i></h3>
            <% x['ProgramReferences'].each do |pd| %>
                <div class="programProgramReferences" >
                  <%= label_tag :Xpath %>
                  <%= text_field_tag :Xpath, pd['Xpath'], name: :Xpath, readonly: true   %><br>
                  <%= label_tag :Text %><br>
                  <%= text_field_tag :Text, pd['Text'], name: :Text, size: '45'%><br>
                  <%= label_tag :Domain %>
                  <%= text_field_tag :Domain, pd['Domain'], name: :Domain, readonly: true   %><br>
                </div>
            <% end %>
        <% end %>
      </div>

      <div class="col-md-4">
        <h1>Population Tags</h1>
        <%= label_tag :P_Veteran %>
        <%= check_box_tag :P_Veteran, x['P_Veteran'] , x['P_Veteran'].to_s.downcase == "true"   %><br>
        <%= label_tag :P_Family %>
        <%= check_box_tag :P_Family, x['P_Family'], x['P_Family'].to_s.downcase == "true" %><br>
        <%= label_tag :P_Citizenship %>
        <%= check_box_tag :P_Citizenship, x['P_Citizenship'], x['P_Citizenship'].to_s.downcase == "true" %><br>
        <%= label_tag :P_Senior %>
        <%= check_box_tag :P_Senior, x['P_Senior'], x['P_Senior'].to_s.downcase == "true"  %><br>

        <%= label_tag :P_Any %>
        <%= check_box_tag :P_Any, x['P_Any'], x['P_Any'].to_s.downcase == "true" %><br>

        <%= label_tag :P_Other %>
        <%= check_box_tag :P_Other, x['P_Other'], x['P_Other'].to_s.downcase == "true" %><br>
        <%= label_tag :P_LGBTQ %>
        <%= check_box_tag :P_LGBTQ, x['P_LGBTQ'], x['P_LGBTQ'].to_s.downcase == "true" %><br>
        <%= label_tag :P_LowIncome %>
        <%= check_box_tag :P_LowIncome, x['P_LowIncome'], x['P_LowIncome'].to_s.downcase == "true" %><br>
        <%= label_tag :P_Disabled %>
        <%= check_box_tag :P_Disabled, x['P_Disabled'],x['P_Disabled'].to_s.downcase == "true" %><br>
        <%= label_tag :P_Native %>
        <%= check_box_tag :P_Native, x['P_Native'], x['P_Native'].to_s.downcase == "true" %><br>
        <%= label_tag :PopulationTags %>
        <%= text_field_tag :PopulationTags, x['PopulationTags'] %><br>
        <% if x['PopulationDescription'] != nil %>
            <h3><i>Population Description</i></h3>
            <% x['PopulationDescription'].each do |pd| %>
                <div class="programPopulationDescription" >
                  <%= label_tag :Xpath %>
                  <%= text_field_tag :Xpath, pd['Xpath'], name: :Xpath, readonly: true  %><br>
                  <%= label_tag :Text %><br>
                  <%= text_field_tag :Text, pd['Text'], name: :Text, size: '45'%><br>
                  <%= label_tag :Domain %>
                  <%= text_field_tag :Domain, pd['Domain'], name: :Domain, readonly: true  %><br>
                </div>
            <% end %>
        <% end %>

        <div>
          <%= label_tag :PopulationDescriptionDisplay %><br>
          <%= text_area_tag :Text, x['PopulationDescriptionDisplay'], name: :PopulationDescriptionDisplay, onmouseover:'this.style.height = this.scrollHeight + "px"',rows:"5", cols:"44"%><br>
        </div>
        <!-- removed dental and vision -->

      </div>

      <div class="col-md-4">
        <h1>Service Groups</h1>
        <%= label_tag :S_Addiction %>
        <%= check_box_tag :S_Addiction, x['S_Addiction'], x['S_Addiction'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Identification %>
        <%= check_box_tag :S_Identification, x['S_Identification'], x['S_Identification'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Research %>
        <%= check_box_tag :S_Research, x['S_Research'], x['S_Research'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Legal %>
        <%= check_box_tag :S_Legal, x['S_Legal'], x['S_Legal'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Medical %>
        <%= check_box_tag :S_Medical, x['S_Medical'], x['S_Medical'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Food %>
        <%= check_box_tag :S_Food, x['S_Food'], x['S_Food'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_GeneralSupport %>
        <%= check_box_tag :S_GeneralSupport, x['S_GeneralSupport'], x['S_GeneralSupport'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Education %>
        <%= check_box_tag :S_Education, x['S_Education'], x['S_Education'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Family %>
        <%= check_box_tag :S_Family, x['S_Family'], x['S_Family'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Employment %>
        <%= check_box_tag :S_Employment, x['S_Employment'] , x['S_Employment'].to_s.downcase == "true" %><br>

        <%= label_tag :S_Abuse %>
        <%= check_box_tag :S_Abuse, x['S_Abuse'], x['S_Abuse'].to_s.downcase == "true"  %><br>

        <%= label_tag :S_Resources %>
        <%= check_box_tag :S_Resources, x['S_Resources'], x['S_Resources'].to_s.downcase == "true"  %><br>

        <%= label_tag :S_Victim %>
        <%= check_box_tag :S_Victim, x['S_Victim'] , x['S_Victim'].to_s.downcase == "true" %><br>

        <%= label_tag :S_Disabled %>
        <%= check_box_tag :S_Disabled, x['S_Disabled'] , x['S_Disabled'].to_s.downcase == "true" %><br>

        <%= label_tag :S_Housing %>
        <%= check_box_tag :S_Housing, x['S_Housing'] , x['S_Housing'].to_s.downcase == "true" %><br>

        <%= label_tag :S_Veterans %>
        <%= check_box_tag :S_Veterans, x['S_Veterans'] , x['S_Veterans'].to_s.downcase == "true" %><br>
        <%= label_tag :S_BasicNeeds %>
        <%= check_box_tag :S_BasicNeeds, x['S_BasicNeeds'] , x['S_BasicNeeds'].to_s.downcase == "true" %><br>
        <%= label_tag :S_Financial %>
        <%= check_box_tag :S_Financial, x['S_Financial'] , x['S_Financial'].to_s.downcase == "true" %><br>
        <%= label_tag :S_Clothing %>
        <%= check_box_tag :S_Clothing, x['S_Clothing'], x['S_Clothing'].to_s.downcase == "true"  %><br>
        <%= label_tag :S_Respite %>
        <%= check_box_tag :S_Respite, x['S_Respite'] , x['S_Respite'].to_s.downcase == "true" %><br>

        <%= label_tag :S_IndependentLiving %>
        <%= check_box_tag :S_IndependentLiving, x['S_IndependentLiving'], x['S_IndependentLiving'].to_s.downcase == "true" %><br>

        <%= label_tag :S_CaseManagement %>
        <%= check_box_tag :S_CaseManagement, x['S_CaseManagement'], x['S_CaseManagement'].to_s.downcase == "true" %><br>
        <%= label_tag :S_Senior %>
        <%= check_box_tag :S_Senior, x['S_Senior'], x['S_Senior'].to_s.downcase == "true" %><br>
        <%= label_tag :S_Emergency %>
        <%= check_box_tag :S_Emergency, x['S_Emergency'], x['S_Emergency'].to_s.downcase == "true" %><br>
        <%= label_tag :S_DayCare %>
        <%= check_box_tag :S_DayCare, x['S_DayCare'], x['S_DayCare'].to_s.downcase == "true" %><br>
        <%= label_tag :S_Transportation %>
        <%= check_box_tag :S_Transportation, x['S_Transportation'], x['S_Transportation'].to_s.downcase == "true" %><br>
        <%= label_tag :S_Behavioral %>
        <%= check_box_tag :S_Behavioral, x['S_Behavioral'], x['S_Behavioral'].to_s.downcase == "true" %><br>
        <%= label_tag :ServiceTags %>
        <%= text_field_tag :ServiceTags, x['ServiceTags'] %><br>

      </div>

      </div><br>
  <% end %> <br>

<% end -%>