<% i  = 1 %>
<% result.each do |r|%>

        <% i += 1 %>

        <% if r["missing_mandatory_fields"] == "1" %>
            <tr class="currentRow missing_fields" id= <%="rule_#{i}"%>  >
        <%else %> 
            <tr class="currentRow" id= <%="rule_#{i}" %>  >
        <%end%>  
        <%if @sr_urls.include?(r["url"])%>
          <td class = "myURL" style = "color: red" id= <%= "url_#{i}" %>  ><%= r["url"] %> </td>
        <%else%>
          <td class = "myURL" id= <%= "url_#{i}" %> ><%= r["url"] %> </td>
        <%end%>

        <td class = "nameOrg" id=<%= "nameOfOrg_#{i}"%> > <%= r["OrganizationName"]["OrganizationName"][0]['Text'] if r["OrganizationName"]["OrganizationName"] %> </td>

        <td id= <%= "Orgdescription_#{i}" %> >

           <% if r["OrganizationName"].present? %>
                <%if r["OrganizationName"]["OrgDescription"].present? %>
                      <%= r["OrganizationName"]["OrgDescription"][0]['Text'] %> 
                <% else %>
                      <%= "n/a" %> 
                <% end %>

          <% else %>
              <%= 'n/a '%>
          <% end %> 

             
        </td>


        <%= hidden_field_tag r["url"] ,i, :id => "url_#{i}" %>

        <td><%= r["status"] %></td>


        <!--<% if r["missing_mandatory_fields"] == "1" || r["missing_mandatory_fields"].nil? %>

            <td><%= button_to "Send For Approval", '#', class: "add_rule", id: "#{i}", :disabled => true, :remote => true , type: "button"%> </td>
        <%elsif r["missing_mandatory_fields"] == "0" %>
            <td><%= button_to "Send For Approval", '#', class: "add_rule", id: "#{i}", :remote => true, type: "button", method: :get %> </td> 
        <%end%> -->


        <td><%= button_tag "Send For Approval", id: "send_#{i}", class: "sendForApproval", type: 'button' %>  </td>

        <td><%= link_to "Delete", '#', class: "delete_rule", id: "#{i}", :remote => true %></td>

        <!--<td><%= link_to "See More", get_contact_management_path(org_url: r["url"] ), { method: :post ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %> </td> -->

        <td><%= link_to "See More", catalogMangViewer_path(org_url: r["url"] ), {target: :_blank} %> </td>

        
        </tr>

        <% if r['status'] == "Rejected"%>
            <script type="text/javascript">
                var myID = 'rule_' + <%= i %>
                document.getElementById(myID).style.color = "red";
            </script>
        <% end %>

<%end%> 


<script type="text/javascript">
    //get elemeny by id
    //


    var sendButton = document.getElementsByClassName('sendForApproval')

    for (var i =0; i < sendButton.length; i++) {
        sendButton[i].addEventListener('click', function(e){
            parseID =  e.srcElement.id
            myID = parseID.split("_")
            url = 'url_' + myID[1]
            orgName = 'nameOfOrg_' + myID[1]
            selectedURL = document.getElementById(url).innerText
            selectedOrg = document.getElementById(orgName).innerText

            cRow = 'rule_' + myID[1]
            console.log("here", cRow)
            console.log("Looking ",  document.getElementById(cRow))

            document.getElementById(cRow).style.display = "none";
            sendforApproval(selectedOrg, selectedURL, cRow)
        })
    }
   

  function sendforApproval(orgName, url, cRow){ 
        console.log("what data is coming over", orgName, "&", url)
        myData = {}
        myData['orgName'] = orgName;
        myData['url'] = url;
        var crud = JSON.stringify(myData);
          //  
         sendData(crud);

         function sendData(crud) {
          var XHR = new XMLHttpRequest();
          XHR.addEventListener("load", function(event) {
          });
          //error
          XHR.addEventListener("error", function(event) {
          alert('Oops! Something went wrong.');
          });
          //FOR LOCAL
          XHR.open("POST", "http://localhost:3000/send_for_approval");
          //FOR DEV11
          //XHR.open("POST", "https://dev11.resourcestack.com/backend/send_for_approval"); {}

          //XHR.open("POST", "<%# ENV['APPLICATION_URL'] %>/send_for_approval");
          //FOR DEV11
          //XHR.open("POST", "https://dev11.resourcestack.com/backend/send_for_approval");

          //FOR DEMO
          //XHR.open("POST", "https://demo.commonhealthcore.org/backend/send_for_approval");


          XHR.setRequestHeader('Content-Type', 'application/json');
          XHR.send(crud);
              XHR.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    response = this.responseText
                    console.log(this.response)
                    console.log("this worked")
                    
                } else {
                  console.log(XHR.responseText)
                  console.log("this did not work")

                }
              };
          }

  }





</script>
