<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Details</h4>
</div>

<div class="modal-body">

    <h3> Organization Details</h3>
      <% @organizationName.each do |key,value| %>
        <%= key %> <%= value %>
      <% end %> 

    <h3>Geographical Scope</h3>
      <% @geoScope.each do |key,value| %>
        <%= key %> <%= value %>
      <% end %>

  <h3>Programs</h3>
      <% @programs.each do |key,value| %>
        <%= key %> <%= value %>
      <% end %>

  <h3>Sites</h3>
      <% @orgSites.each do |key,value| %>
        <%= key %> <%= value %>
      <% end %>
</div>




