<% e  = 1 %>
<% pending_results.each do |x| %> 
    <%if x["status"] == "New" || x["status"] == "Pending" %>
        <% e += 1 %>
        <tr id= <%="masterRule_#{e}" %>>
          <td class = "masterURL"><%= x["url"] %></td>
          <td class = "nameOrg" ><%= x["organizationName"]["organizationName_Text"][0]['text'] if x["organizationName"] %></td>
          <td> <%= x['status'] %> </td>
          <td><%= link_to "Approve", '#', class: "approve_rule", id: "#{e}", :remote => true %> </td>
          <td id="rejectRow_"><%= link_to "Reject", '#', class: "reject_rule", id: "#{e}", :remote => true %></td>

          <td > <input type="reason" name="reason" style="display:none;" id = <%= "rejectText_#{e}" %> class= <%= "displayReason_#{e}" %>> <button  type="button" style="display:none;" id ="submitReason" class= <%= "displayReason_#{e}" %>> submit</button> </td>

          <td><%= link_to "See More", get_contact_management_path(org_url: x["url"] ), { method: :post ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %> </td>
          <td><%= link_to "Check Duplicates", check_duplicates_path(org_url: x["url"] ),{ method: :post ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}%></td>

           <%= hidden_field_tag x["OrgSites"][0]['POCs'][0]['Email'] , e , :id => "hiddenEmail_#{e}" %>
        </tr>
    <% end %>
<% end %> 