<%= button_tag "Add Site",type: "button", id: "collectButton1",remote: true%>
<% if @site.present? && @site != [nil] %>
    <% @site.each do |site| %>

        <% if site['InactiveSite'] == true %>
            <p>Inactive Site </p>
            <button type="button" class="toggleProgram">Toggle Site</button>
            <div class="SiteForm" style="display: none;">
        <% else %>
            <div class="SiteForm">
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <%= label_tag :InactiveSite %>
            <%= check_box_tag :InactiveSite, site['InactiveSite'], site['InactiveSite']%><br>

            <%= label_tag :LocationName %>
            <%= text_field_tag :LocationName, site['LocationName'] %><br>

            <h3><i>Address One</i></h3>
            <% if site['Addr1'] != nil %>
                <% site['Addr1'].each do |pd| %>
                    <div class="siteAddr1">
                      <%= label_tag :Xpath %>
                      <%= text_field_tag :Xpath, pd['Xpath'], name: :Xpath, readonly: true   %><br>
                      <%= label_tag :Text %>
                      <%= text_field_tag :Text, pd['Text'], name: :Text%><br>
                      <%= label_tag :Domain %>
                      <%= text_field_tag :Domain, pd['Domain'], name: :Domain, readonly: true   %><br>
                    </div>
                <% end %>

            <% end %>
            <%= label_tag :Addr2 %>
            <%= text_field_tag :Addr2, site['Addr2'] %><br>

            <%= label_tag :AddrState %>
            <%= text_field_tag :AddrState, site['AddrState'] %><br>

            <%= label_tag :AddrCity %>
            <%= text_field_tag :AddrCity, site['AddrCity'] %><br>

            <%= label_tag :AddrZip %>
            <%= text_field_tag :AddrZip, site['AddrZip'] %><br>

            <% if site[:SiteReference] != nil %>
                <h3><i>Site Reference</i></h3>
                <% site[:SiteReference].each do |pd| %>
                    <div class="siteSiteReference">
                      <%= label_tag :Xpath %>
                      <%= text_field_tag :Xpath, pd['Xpath'], name: :Xpath, readonly: true   %><br>
                      <%= label_tag :Text %><br>
                      <%= text_field_tag :Text, pd['Text'], name: :Text, size: '50'%><br>
                      <%= label_tag :Domain %>
                      <%= text_field_tag :Domain, pd['Domain'], name: :Domain, readonly: true   %><br>
                    </div>
                <% end %>
            <% end %>
          </div>

          <div class="col-md-4">
            <%= label_tag :ServiceDeliverySite %>
            <%= check_box_tag :ServiceDeliverySite, site['ServiceDeliverySite'], site['ServiceDeliverySite'].to_s.downcase == "true" %><br>
            <%= label_tag :AdminSite %>
            <%= check_box_tag :AdminSite, site['AdminSite'] , site['AdminSite'].to_s.downcase == "true" %><br>
            <%= label_tag :ResourceDirectory %>
            <%= check_box_tag :ResourceDirectory, site['ResourceDirectory'], site['ResourceDirectory'].to_s.downcase == "true" %><br>
            <%= label_tag :SelectSiteID %>
            <%= text_field_tag :SelectSiteID, site['SelectSiteID'], readonly: true  %><br>
            <%= label_tag :Webpage %>
            <%= text_field_tag :Webpage, site['Webpage'] %><br>
          </div>

          <div class="col-md-4">

            <h3><i>POC</i></h3>
            <% if site['POCs'] != nil %>
                <% site['POCs'].each do |pd| %>
                    <div class="sitePOC">
                      <%= label_tag :DefaultPOC %>
                      <%= check_box_tag :DefaultPOC, pd['poc']['DefaultPOC'] , pd['poc']['DefaultPOC'.to_s.downcase == "true" ]%><br>
                      <%= label_tag :InactivePOC %>
                      <%= check_box_tag :InactivePOC, pd['poc']['InactivePOC'] , pd['poc']['InactivePOC'] == true %><br>
                      <%= label_tag :id %>
                      <%= text_field_tag :id, pd['id'], name: :id, readonly: true   %><br>
                      <%= label_tag :OfficePhone %>
                      <%= text_field_tag :OfficePhone, pd['poc']['OfficePhone'] %><br>
                      <%= label_tag :Email %>
                      <%= text_field_tag :Email, pd['poc']['Email'] %><br>
                      <%= label_tag :Referrals %>
                      <%= text_field_tag :Referrals, pd['poc']['Referrals'] %><br>
                      <%= label_tag :ContactPage %>
                      <%= text_field_tag :ContactPage, pd['poc']['ContactPage'] %><br>
                      <%= label_tag :Title %>
                      <%= text_field_tag :Title, pd['poc']['Title'] %><br>
                      <%= label_tag :MobilePhone %>
                      <%= text_field_tag :MobilePhone, pd['poc']['MobilePhone'] %><br>
                      <%= label_tag :Name %>
                      <%= text_field_tag :Name, pd['poc']['Name'] %><br>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div><!-- end row -->
        </div><!-- end site form -->
    <% end %>
<% end %>
</div>