
<h2> New Catalogue Rules </h2>
<table id="contact_management_table" class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <!--<th >URL</th>-->
      <th >Organization</th>
      <th >Description</th>
      <!--<th >Coverage</th>-->
      <!--<th >State</th>-->
      <th >Status</th>
      <!--<th >Scope</th>-->
      <th ></th>
      <th ></th>
      <th ></th>
    </tr>
  </thead>
  <tbody>
    <% i  = 1 %>
    <% @result.each do |r|%>
      <%if r["status"] == "New"%>
          <% i += 1 %>
          <tr id= <%="rule_#{i}" %>  >
            <!--<td id= <%#= "url_#{i}" %> ><%#= r["url"] %></td>-->
            <td id=<%= "nameOfOrg_#{i}"%> ><%= r["organizationName"]["organizationName_Text"] if r["organizationName"] %></td>
            <td id= <%= "Orgdescription_#{i}" %> ><%= r["organizationDescription"]["organizationDescription_Text"].truncate(50) if r["organizationDescription_Text"]  %></td>
            <%= hidden_field_tag r["organizationDescription_xpath"] ,i, :id => "orgdescription_xpath_#{i}" %>
            <%= hidden_field_tag r["organizationDescription_URL"] ,i, :id => "orgdescription_url_#{i}" %>
            <%= hidden_field_tag r["url"] ,i, :id => "url_#{i}" %>

            <%= hidden_field_tag r["organizationName_xpath"] ,i, :id => "orgName_xpath_#{i}" %>
            <%= hidden_field_tag r["organizationName_URL"] ,i, :id => "orgName_url_#{i}" %>

            <!--<td><%#= r["geographicScope"] %></td>-->
            <!--<td><%#= r["state"] %></td>-->
            <td><%= r["status"] %></td>
            <!--<td><%#= r["created_at"] %></td>-->
            <!--<td><%#= r["primeScope"] %></td>-->
            <td><%= link_to "Send For Approval", send_for_approval_path, class: "add_rule", id: "rule_#{i}", :remote => true %> </td>
            <td><%= link_to "Reject", reject_catalog_path, class: "reject_rule", id: "rule_#{i}", :remote => true %></td>
            <!--<td><%#= link_to "See More", get_contact_management_path(org_name: r["OrganizationName_Text"] ), { method: :post ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %> </td>-->
            <td><%= link_to "See More", get_contact_management_path(org_url: r["url"] ), { method: :post ,:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %> </td>
          </tr>

      <%end%>
    <%end%>
  </tbody>
</table>

<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>