
<div class="modal-body">

  <h3> Organization Details</h3>
  <strong>Organization Name : </strong> <%= @organizationName['organizationName_Text'][0]['text'] %> <br>
  <strong>Organization Description : </strong> <%= @organizationName['OrgDescription'][0]['text'] if @organizationName['OrgDescription'] %><br>

  <h3>Geographic Scope</h3>
  <% @geoScope.each do |k,v| %>
      <strong><%= k %> :</strong><%= v %> <br>
  <% end %>

  <h3>Organization Sites</h3>
  <% @siteHash.each do |k,v| %>
      <strong><%= k %> :</strong><%= v %> <br>
  <% end %>

  <h3>POC</h3>
  <% @poc.each do |k,v| %>
      <strong><%= k %> :</strong><%= v %> <br>
  <% end %>

  <h1>Program Details</h1>
  <% @programHash.each do |k,v| %>
      <strong><%= k %> :</strong><%= v %> <br>
  <% end %>

  <!--
<h3>Program</h3>
  <strong>Program Name : </strong> <%= @programs[0]['programName'] %><br>
  <strong>Program Description : </strong> <%= @programs[0]['ProgramDescription'][0]['text'] if @programs[0]['ProgramDescription'] %><br>
  <strong>Program References : </strong><%= @programs[0]['ProgramReferences'][0]['text'] if @programs[0]['ProgramReferences']  %><br>
  <strong>Program Service Groups : </strong><%= @programs[0]['ServiceGroups'] %><br>
  <strong>Service Tags : </strong><%= @programs[0]['serviceTag'] if @programs[0]['serviceTag'] %><br>
  <strong>Service Description : </strong><%= @programs[0]['ServiceDescription'][0]['text'] if @programs[0]['ServiceDescription'] %><br>
  <strong>Population Tags : </strong><%= @programs[0]['populationTags'] if @programs[0]['populationTags'] %><br>
  <strong>Population Description : </strong><%= @programs[0]['PopulationDescription'][0]['text'] if @programs[0]['PopulationDescription'] %><br>
  <strong>Population Groups : </strong><br>
  <strong> Location Name:</strong> <%= @orgSites[0]['locationName'] if @orgSites[0]['locationName']%><br>
  <strong> Site Reference:</strong> <%= @orgSites[0]['SiteReference_TEXT'][0]['text'] if @orgSites[0]['SiteReference_TEXT']%><br>
  <strong> Street Address:</strong> <%= @orgSites[0]['addrOne_Text'][0]['text'] if @orgSites[0]['addrOne_Text'] %><br>
  <strong> City:</strong> <%= @orgSites[0]['Adrcity'] if @orgSites[0]['Adrcity'] %><br>
  <strong> Adrstate:</strong> <%= @orgSites[0]['Adrstate'] if @orgSites[0]['Adrstate']%><br>
  <strong> Zipcode:</strong> <%= @orgSites[0]['Adrzip'] if @orgSites[0]['Adrzip']%><br>

  <strong>Service Tags : </strong><br>
  <strong>Service Description : </strong><%= @programs[0]['ServiceDescription'][0]['text'] if @programs[0]['ServiceDescription'] %><br>
  <strong>Population Groups : </strong><br>
  <strong>Population Tags : </strong><br>
  <strong>Population Description : </strong><%= @programs[0]['ProgramDescription'][0]['text'] if @programs[0]['ProgramDescription'] %><br>

  <strong> POC Office Phone:</strong> <%= @orgSites[0]['POCs'][0]['OfficePhone'] if @orgSites[0]['POCs']%><br>
  <strong> POC Email:</strong> <%= @orgSites[0]['POCs'][0]['Email'] if @orgSites[0]['POCs'] %><br>
  <strong> POC Referrals:</strong> <%= @orgSites[0]['POCs'][0]['Referrals'] if @orgSites[0]['POCs'] %><br>
  <strong> POC ContactPage:</strong> <%= @orgSites[0]['POCs'][0]['ContactPage'] if @orgSites[0]['POCs'] %><br>
  <strong> POC Title:</strong> <%= @orgSites[0]['POCs'][0]['Title'] if @orgSites[0]['POCs']%><br>
  <strong> POC Name:</strong> <%= @orgSites[0]['POCs'][0]['Name'] if @orgSites[0]['POCs']%><br>
  <strong> POC MobilePhone:</strong> <%= @orgSites[0]['POCs'][0]['MobilePhone'] if @orgSites[0]['POCs']%><br>

-->




</div>





