<h1>Editing Client Application</h1>

<%#= render 'form', client_application: @client_application %>

<%#= link_to 'Show', @client_application %> 
<%#= link_to 'Back', client_applications_path %>


<ul>  
    <li style="display: inline;"><%= image_tag @client_application.logo.thumb.url %></li>
    <li style="display: inline;"><%= link_to "Edit About Us ", about_us_path %></li>
    <li style="display: inline;"><%= link_to "Edit FAQ", faqs_path %></li>
    <li style="display: inline;"><%= link_to "Edit Terms & Privacy", terms_privacies_path %></li>
</ul>


<%= form_for @client_application do |f| %>


    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, id: :client_name %>
    </div>

    <div class="field">
      <%= f.label :application_url %>
      <%= f.text_field :application_url, id: :application_url %>
    </div>

    <div class="field">
      <%= f.label :logo %><br>
      <%= f.file_field :logo %>
    </div>

    <h3>Users</h3>
    <div id='users'>
      <%= f.fields_for :users do |user| %>
          <%= render 'user_fields', :f => user %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add user', f, :users %>
      </div>
    </div>

    <%= f.submit 'Save' %>

<% end %> 