
<h1>Editing Client Application</h1>
<%#= render 'form', client_application: @client_application %>

<%#= link_to 'Show', @client_application %> 
<%#= link_to 'Back', client_applications_path %>



<div class="container">
  <div class="row">
    <div class="col-md-12">

        <%= form_for @client_application do |f| %>


            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name, id: :client_name %>
            </div>

            <div class="field">
              <%= f.label :application_url %>
              <%= f.text_field :application_url, id: :application_url %>
            </div>

            <div class="field">
              <%= f.label :logo %> 
              <%= image_tag("question_mark1.png", class: 'woof', size: '25x25', 'data-toggle'=>'tooltip', title: 'Supported Formats: jpg jpeg gif png & displayed as 220x80') %>
              <span title="Lets see what happens"></span><br>

              <% if @client_application.logo.present? %>
                <%= image_tag @client_application.logo.url, class: 'client_logo', size:'220x80' %>
              <% end %>
              
              <%= f.file_field :logo %>
            </div>

          <div class="field">
            <%= f.label :theme %>
            <%= select_tag "theme", options_for_select(ClientApplication::THEME, @client_application.theme) %>
          </div>




            <h3>Users</h3>
            <div class="col-md-8" id='users'>
              <%= f.fields_for :users do |user| %>
                  <%= render 'user_fields', :f => user %>
              <% end %>
                <div class='links col-md-8'>
                  <%= link_to_add_association 'add user', f, :users %> 
                </div>
                <div class="col-md-8">
                  <%= f.submit 'Save' %>
                </div>
            </div>




        <% end %> 
    </div>
  </div>
</div>
<br>

      <ul style="list-style-position: inside;">  
          <li style="display: inline-block;"><%= button_to "Edit About Us", about_us_path, method: :get, class: 'btn btn-primary ' %></li>
          <li style="display: inline-block;"><%= button_to "Edit FAQ", faqs_path, method: :get, class: 'btn btn-primary ' %></li>
          <li style="display: inline-block;"> <%= button_to "Edit Terms & Privacy", terms_privacies_path, method: :get, class: 'btn btn-primary ' %></li>
      </ul>




