<p id="notice"><%= notice %></p>

<h1>Client Applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @client_application.name%></td>
      <td><%= link_to 'Show', @client_application %></td>
      <td><%= link_to 'Edit', edit_client_application_path(@client_application) %></td>
      <td><%= link_to 'Destroy', @client_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<br>

<% if @client_application.users.count > 0 %>
    <table>
      <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @client_application.users.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td><%= u.email %></td>
            <td><%= link_to 'Show', user_show_path(:id => u.id) %></td>
            <td><%= link_to 'Edit', user_edit_path(:id => u.id) %></td>
            <td><%#= link_to 'Destroy', client_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%end%>


<% if current_user.admin? %>
  <h1>Registration Requests</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th >Name</th>
        <th >URL</th>
        <th >UserEmail</th>
      </tr>
    </thead>
    <tbody>
    <%@registration_request.each do |rr|%>
      <tr>
        <td><%= rr.application_name%></td>
        <td><%= rr.application_url%></td>
        <td><%= rr.user_email%></td>
      </tr>
    <%end%>
    </tbody>
  </table>

<% end %>


<%= link_to 'New Client Application', new_client_application_path if current_user.admin? %>
