<p id="notice"><%= notice %></p>
<% if @client_application.users.count == 0 %>
    <div style="color: red"><%= link_to "You donn't have any users. Please click here to create users", new_user_path%></div>
<%end%>

<% if @notification_rules.count == 0 %>
    <div><%= link_to "You donn't have any Notification Rules. Please click here to create rules", notification_rules_path, :style => "color: red" %></div>
<%end %>
<h1>Client Applications</h1>

<table class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @client_application.name%></td>
      <td><%= link_to 'Show', @client_application %></td>
      <td><%= link_to 'Edit', edit_client_application_path(@client_application) %></td>
      <td><%= link_to 'Destroy', @client_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<br>
<h1>Users in the Application</h1>
<% if @client_application.users.count > 0 %>
    <table class="table table-responsive table-bordered user-display">
      <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>Role</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @client_application.users.each do |u| %>
          <tr class="">
            <td><%= u.name %></td>
            <td><%= u.email %></td>
            <%if u.cc == true%>
              <td>Care Coordinator</td>
            <%elsif u.pcp == true %>
                <td>Care Provider</td>
            <%else%>
                <td>---</td>
            <%end%>
            <td><%= link_to 'Show', user_show_path(:id => u.id) %></td>
            <td><%= link_to 'Edit', user_edit_path(:id => u.id) %></td>
            <!--<td><%#= link_to 'Destroy', client_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
<%end%>

<h1>Notification Rules Table</h1>
<% if @notification_rules.count > 0 %>
    <table id="notification_rules" class="table table-responsive table-bordered user-display">
      <thead>
        <tr>
          <th>Status</th>
          <th>Time</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <%@notification_rules.each do |nr| %>
          <tr>
            <td><%= nr.appointment_status%></td>
            <td><%= nr.time_difference%></td>
            <td><%= nr.subject%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
<%end%>

<% if current_user.admin? %>
  <h1>Registration Requests</h1>
  <table class="table table-responsive table-bordered user-display">
    <thead>
      <tr>
        <th >Name</th>
        <th >URL</th>
        <th >UserEmail</th>
      </tr>
    </thead>
    <tbody>
    <%@registration_request.each do |rr|%>
      <tr>
        <td><%= rr.application_name%></td>
        <td><%= rr.application_url%></td>
        <td><%= rr.user_email%></td>
      </tr>
    <%end%>
    </tbody>
  </table>

<% end %>


<%= link_to 'New Client Application', new_client_application_path if current_user.admin? %><br>

<%= link_to "Application Details", "/all_details"%><br>

<%= link_to "Add User", new_user_path%><br>

<%= link_to "Create Notification Rule", notification_rules_path%><br>

<%= link_to "Service Providers", service_provider_details_path%><br>
<%= link_to "Roles", roles_path%><br>

<%= link_to "Filter Page" , filter_page_path %><br>
<%= link_to "Status" , statuses_path %><br>

<H3> Links for Testing</H3>
<%= link_to "Create User", api_create_user_path(email: "defaultuser@test.com"), method: :post %><br>
<%= link_to "Create Patient", api_create_patient_path(email: "defaultuser@test.com"), method: :post %><br>
<%= link_to "Create task", api_tsk_create_path(email: "defaultuser@test.com"), method: :post %><br>
<%= link_to "Patients List", api_patients_list_path(email: current_user.email), method: :post %><br>
