<p id="notice"><%= notice %></p>



<% if @client_application.users.count == 0 %>
    <div style="color: red"><%= link_to "You donn't have any users. Please click here to create users", new_user_path%></div>
<%end%>

<% if @client_application.external_application == false || @client_application.external_application.nil? %>
  <% if @notification_rules.count == 0 %>
      <div><%= link_to "You do not have any Notification Rules. Please click here to create rules", notification_rules_path, :style => "color: red" %></div>
  <%end %>
<%end %>

<% if @client_application.client_agreement.url.nil? %>

    <div style="color: red"><%= link_to "Agreement was not signed. Please click here to complete the agreement process", question_form_path %></div>
<%end%>


<h1>Client Applications</h1>

<table id="client_application" class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @client_application.name%></td>
      <td><%= link_to 'Show', @client_application %></td>
      <td><%= link_to 'Edit', edit_client_application_path(@client_application) %></td>
      <td><%= link_to 'Destroy', @client_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<br>
<h1>Users in the Application</h1>
<% if @client_application.users.count > 0 %>
    <table id="user_list" class="table table-responsive table-bordered user-display">
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @client_application.users.each do |u| %>
            <tr>
              <td><%= u.name %></td>
              <td><%= u.email %></td>
              <%#if u.cc == true%>
                <!--<td>Care Coordinator</td>-->
              <!--<%#elsif u.pcp == true %>-->
                  <!--<td>Care Provider</td>-->
              <!--<%#else%>-->
                  <!--<td>-&#45;&#45;</td>-->
              <%#end%>
              <% roles_array = []%>
              <%if u.roles %>
                <% u.roles.each do |r|%>
                  <% role_name = Role.find(r).role_name%>
                  <% roles_array.push(role_name) %>
                <%end %>
              <%end %>


              <td><%=  roles_array.join(', ') %></td>
              <td><%= link_to 'Show', user_show_path(:id => u.id) %></td>
              <td><%= link_to 'Edit', user_edit_path(:id => u.id) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<%end%>


<h1>Incoming Referrals</h1>
<% if @referred_applications.count > 0 %>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Application Name</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@referred_applications.each do |ra| %>
        <%ledger_master = ra.ledger_master%>
        <% task = Task.find(ledger_master.task_id)%>
        <tr>
          <td></td>
          <td> <%= task.task_description %></td>
          <td> <%= ra.ledger_status%></td>
          <% if ra.ledger_status == "Pending" %>
            <td> <%= link_to "Accept Referral", api_send_patient_path(task_id: ledger_master.task_id ,external_application_id: ra.referred_application_id),method: :post%></td>
          <%elsif ra.ledger_status == "Accepted"%>
              <td> Accepted </td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>

<% end %>



<% if @client_application.external_application == false || @client_application.external_application.nil? %>
  <h1>Notification Rules Table</h1>
  <% if @notification_rules.count > 0 %>
      <table id="notification_rules" class="table table-responsive table-bordered display">
        <thead>
          <tr>
            <th>Status</th>
            <th>Time</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          <%@notification_rules.each do |nr| %>
            <tr>
              <td><%= Status.find(nr.appointment_status).status %></td>
              <td><%= nr.time_difference%></td>
              <td><%= nr.subject%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
  <%end%>
<%end%>


<% if @client_application.external_application == false || @client_application.external_application.nil? %>
  <% if current_user.admin? %>
    <h1>Registration Requests</h1>
    <table class="table table-responsive table-bordered user-display">
      <thead>
        <tr>
          <th >Name</th>
          <th >URL</th>
          <th >UserEmail</th>
          <th ></th>
        </tr>
      </thead>
      <tbody>
      <%@registration_request.each do |rr|%>
        <tr>
          <% if rr.invitation_accepted == false %>
            <td><%= rr.application_name%></td>
            <td><%= rr.application_url%></td>
            <td><%= rr.user_email%></td>
            <% if rr.invited == true %>
                <td><%= link_to "Resend Invite", "#", id: rr.id.to_s,:remote => true %></td>
            <% elsif rr.invited == false %>
                <td><%= link_to "Invite", "#", id: rr.id.to_s, class: "requested_application",:remote => true %></td>
            <% end %>
          <% end %>
        </tr>
      <%end%>
      </tbody>
    </table>

  <% end %>
<%end%>


<%#= link_to 'New Client Application', new_client_application_path if current_user.admin? %><br>

<%= link_to "Application Details", "/all_details"%><br>

<%= link_to "Add User", new_user_path%><br>
<%= link_to "Change your password", edit_user_registration_path %><br>
<%= link_to "About_Us", about_us_page_path %><br>
<%= link_to "FAQ", faq_page_path %><br>


<% if @client_application.external_application == false || @client_application.external_application.nil? %>
  <%= link_to "Create Notification Rule", notification_rules_path%><br>
  <%= link_to "Roles", roles_path%><br>
  <%= link_to "Status" , statuses_path %><br>
<%end %>

<% if @client_application.master_application_status == true %>
  <%= link_to "Service Providers", service_provider_details_path%><br>
  <%= link_to "Master Providers", master_provider_path %><br>
  <%= link_to "Security Keys", security_keys_path %><br>
  <%= link_to "Agreement Managemet", agreement_management_path %><br>

<%end%>

<% if @client_application.external_application == true %>
    <%= link_to "External Apis", edit_after_signup_external_path(:id => @client_application.id.to_s ) %><br>
<%end%>


<%= link_to "Catalog Management" , contact_management_details_path %><br>
<%#= link_to "Catalogue Management" , scraping_rules_path %><br>
<%#= link_to "Plug-in Link", "https://drive.google.com/uc?id=1oYTrCH6JmNqaA3VjADNWmilWeQGczUJu&export=dowload"%>
<%#= link_to "Plug-in Page", plugin_page_path %>
<%= link_to 'Plug-in Page', plugin_page_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %><br>
<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<%= link_to "Patients List", get_patients_path%>

<%#= link_to "Filter Page" , filter_page_path %><br>

<%#= link_to "Task" , tasks_path %><br>


<!--<H3> Links for Testing</H3>-->
<%#= link_to "Create User", api_create_user_path(email: "defaultuser@test.com"), method: :post %><br>
<%#= link_to "Create Patient", api_create_patient_path(email: "defaultuser@test.com"), method: :post %><br>
<%#= link_to "Create task", api_tsk_create_path(email: "defaultuser@test.com"), method: :post %><br>
<%#= link_to "Patients List", api_patients_list_path(email: current_user.email), method: :post %><br>
