<h1>New Client Application</h1>

<%#= render 'form', client_application: @client_application %>


<%= form_for @client_application do |f| %>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :application_url %>
      <br/>
      <%= f.text_field :application_url %>
    </div>

    <h3>Users</h3>
    <div id='users'>
      <%= f.fields_for :users do |user| %>
          <%= render 'user_fields', :f => user %>
      <% end %>
      <%= link_to_add_association 'add user', f, :users %>

    </div>

    <%= f.submit 'Save' %>


<% end %>

<%= link_to 'Back', client_applications_path %>