	<h1 style="text-align: center">Add Key</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<label for="keyName">Key Name:</label>
				<input type="" id ="keyName" name="key_name" placeholder="address_key">
				<small>Does not require any identifier such as 'pii_' or 'phi_' </small>
			</div>
			<div id="key_value_div" class="col-md-6"> 
				<% e = 0 %>
				<% @patient.each do |x|%>
					<% if x.to_s == '_id' || x.to_s == 'security_keys' || x.to_s == 'created_at' || x.to_s == 'updated_at' %>
					<% else %>
						<% e += 1 %>
						<label class="labelSpace" for="<%= x %>"> <%= x %> </label>
						<input class="berkley" type="checkbox" name="" id="<%=x %>">
						<% if e%3 == 0 %>
							 <br> 
						<% end %>
					<% end %>
				<% end %>

				<% @task.each do |t| %>
					<% if t.to_s == '_id' || t.to_s == 'security_keys' || t.to_s == 'created_at' || t.to_s == 'updated_at' %>
					<% else %>
						<% e += 1 %>
						<label class="labelSpace" for="<%= t %>"> <%= t %> </label>
						<input class="berkley" type="checkbox" name="" id="<%=t %>">
						<% if e%3 == 0 %>
							 <br> 
						<% end %>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-3">
				<%= link_to "Add PHI Key", '#', id: "phi_button", :remote => true %><br>
				<%= link_to "Add PII Key", '#', id: "pii_button", :remote => true %><br>
				<%= link_to "Add SAD Key", '#', id: "sad_button", :remote => true %><br>
			</div>
		</div>
	</div>