<h1>Security Keys</h1>



<table class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th>Key Name</th>
      <th>Values</th>
      <th>Actions</th>
    </tr>
  </thead> 
 
	  <tbody id="security_table"> 
	  		<%= render partial: "security_table", locals: {pii: @pii, phi: @phi, sad: @sad}%>
	  </tbody>

</table>


<br>
<% if @user.admin == true %>
	<h1>Add Key</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<label for="keyName">Key Name:</label>
				<input type="" id ="keyName" name="key_name" placeholder="pii_something_key">
			</div>
			<div id="key_value_div" class="col-md-6"> 
				<% e = 0 %>
				<% @patient.each_with_index do |x|%>
					<% if x.to_s == '_id' || x.to_s == 'security_keys' || x.to_s == 'created_at' || x.to_s == 'updated_at' %>
					<% else %>
						<% e += 1 %>
						<label for="<%= x %>"> <%= x %> </label>
						<input class="berkley" type="checkbox" name="" id="<%=x %>">
					<% end %>
				<% end %>

				<% @task.each do |t| %>
					<% if t.to_s == '_id' || t.to_s == 'security_keys' || t.to_s == 'created_at' || t.to_s == 'updated_at' %>
					<% else %>
						<% e += 1 %>
						<label for="<%= t %>"> <%= t %> </label>
						<input class="berkley" type="checkbox" name="" id="<%=t %>">
					<% end %>
				<% end %>
			</div>
			<div class="col-md-3">
				<%= link_to "Add PHI Key", '#', id: "phi_button", :remote => true %><br>
				<%= link_to "Add PII Key", '#', id: "pii_button", :remote => true %><br>
				<%= link_to "Add SAD Key", '#', id: "sad_button", :remote => true %><br>
			</div>
		</div>
	</div>
<% end %>
