<%= form_with(model: notification_rule, local: true) do |form| %>
  <% if notification_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification_rule.errors.count, "error") %> prohibited this notification_rule from being saved:</h2>

      <ul>
      <% notification_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :status %>
      <%#= form.text_field :appointment_status, id: :appointment_status, placeholder: "Status" %>
      <%= form.select(:appointment_status, options_from_collection_for_select(@statuses, "id", "status",params[:appointment_status]))%>
    </div>

    <div class="field">
      <%= form.label :time_remaining %>
      <%= form.text_field :time_difference, id: :time_difference, placeholder: "Time Remaining" %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
