<p id="notice"><%= notice %></p>

<%= form_for @notification_rule,url: notification_rules_path, method: :post,:remote => true do |f| %>
    <div class="field row">

      <%#= f.text_field :appointment_status, :placeholder => "Appointment Status" %>
      <%= f.select(:appointment_status, options_from_collection_for_select(@statuses, "id", "status"))  %>
      <%= f.text_field :time_difference, :placeholder => "Time Remaining" %>
      <%= f.select(:user_type, options_for_select(["Owner","Patient","Service Provider", "All"]))  %>
      <%= f.text_field :subject, :placeholder => "Subject for email" %>
      <%= f.text_field :body, :placeholder => "Content" %>

      <%= f.submit 'Create' %>
    </div>
<% end %>


<h1>Notification Rules</h1>
<table class="table">
  <thead >
  <tr>
    <th>Status</th>
    <th>Time</th>
    <th>User Type</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody id="notification_rules_table">
    <%= render "notification_rules/notification_rules_table"%>
  </tbody>
</table>
<br>

<%#= link_to 'New Notification Rule', new_notification_rule_path %>
