<p id="notice"><%= notice %></p>

<h1>Terms Privacies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms_privacies.each do |terms_privacy| %>
      <tr>
        <td><%= link_to 'Show', terms_privacy %></td>
        <td><%= link_to 'Edit', edit_terms_privacy_path(terms_privacy) %></td>
        <td><%= link_to 'Destroy', terms_privacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terms Privacy', new_terms_privacy_path %>
