<h3><%= "Step #{@current_step} of #{@total_steps - 1}" %></h3>
<h1>Agreement Template Questionnaire</h1>

<%= form_for @question_response , url: after_signup_path(id: "agreement_template"), method: :PUT , :remote => true do |f| %>

        <div id="questions">
          <%= render partial: "question_response/question_section", locals: {question: @first_question}%>
        </div>
        <div id="agreement_template" class="">

        </div>


<% end %>

<div id="agreement_template" class="">

</div>

<div class="" id="my_centered_buttons">
  <%= link_to 'Previous', previous_wizard_path,type: "button" ,class: "btn btn-primary wizard_next_button" %>
  <%= link_to 'Next',next_wizard_path,type: "button" ,class: "btn btn-primary wizard_next_button" %>
</div>