<h3><%= "Step #{@current_step} of #{@total_steps}" %></h3>
<h1>Service Provider</h1>


<%= form_for @service_provider_detail, url: wizard_path, method: :put do |f| %>
    <%= f.text_field :service_provider_name, id: :service_provider_name, placeholder: "Provider Name" %>
    <%= f.text_field :provider_type, id: :provider_type, placeholder: "Provider Type" %>

    <div class="field">
      <%= f.label :data_storage %>:
      <%= f.radio_button( :data_storage_type, "Internal", :class => "internal_data_storage" ) %> Internal
      <a href="#" data-toggle="tooltip" title="By selecting Internal you are opting to you chc's database. To use the chc database you will have to provide a list of service providers with all the required fields in a csv file."><%=image_tag "question_mark1.png", :style => "width:20px;height;20px;"%></a>
      <%= f.radio_button( :data_storage_type, "External",:class => "external_data_storage" ) %> External
      <a href="#" data-toggle="tooltip" title="By selecting External you are opting to use an external storage maintained by your organization. You will need to provide api with all the required parameters."><%=image_tag "question_mark1.png", :style => "width:20px;height;20px;"%></a>
    </div>

    <div class="field hide service_provider_api">
      <%= f.label :service_provider_api %>
      <%= f.text_field :service_provider_api, id: :service_provider_api %>
    </div>
    <div class="field hide upload_csv">
      <%= f.label :upload_csv %>

    </div>

    <div class="field">
      <%= f.label :filtering_fields%><br>
      <%= text_field_tag "field_name",'', :placeholder => "Field Name"%>
      <%= select_tag "filter_field_type", options_for_select(["Input", "Dropdown"])%>
      <%= text_field_tag "filter_field_values", '',:placeholder => "droprown list values"%>
      <%= button_tag "Add",type: "button", :class => "add_filter_fields"%><br>
      <%= f.text_area :filtering_fields, :id => "filtering_field_text", cols: 50, row: 80 %>
    </div>

    <%= hidden_field_tag 'client_id',@client_application_id %>
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="my_centered_buttons">
      <%= f.submit "Finish",class: "btn btn-primary wizard_next_button" %>
    </div>
<% end %>
<%#= link_to 'skip', next_wizard_path %>
<%= link_to "Previous", previous_wizard_path %>