<h3><%= "Step #{@current_step} of #{@total_steps}" %></h3>
<h1>Status</h1>

<%= form_for @status, url: wizard_path, method: :put do |f| %>
    <%= f.label :status_title %>
    <%= f.text_field :status %>
    <%= hidden_field_tag 'client_id',@client_application_id %>
    <%= link_to "Add Status", "#", class: "wizard_add_new_status"%>

    <h1>Statuses</h1>
    <table class="table">
      <thead >
      <tr>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody id="wizard_status_table">
      <%= render "created_status"%>
      </tbody>
    </table>
    <br>
    <%#= f.submit "Next" %>
<% end %>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="my_centered_buttons">
  <%= link_to 'Next',next_wizard_path,type: "button" ,class: "btn btn-primary wizard_next_button" %>
</div>



