<%= form_with(model: show_template, local: true) do |form| %>
  <% if show_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show_template.errors.count, "error") %> prohibited this show_template from being saved:</h2>

      <ul>
      <% show_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%#= form.label :role_name %>
      <%= form.text_field :agreement_type, id: :agreement_type %>
    </div>
    <div class="field">
      <%= form.label :question_list %>
    </div>
    <%@all_questions.each do |q|%>
        <%= form.check_box  :league_segments ,{multiple: true}, q.id.to_s %>
        <%= q.question%><br>
    <%end%>



    <!--<%#if @role_abilities_array.include?(ability.titleize)%>-->
        <!--<%#= form.check_box  :role_abilities,{multiple: true, checked: true}, ability,false%>-->
    <!--<%#else%>-->
        <!--<%#= form.check_box  :role_abilities,{multiple: true}, ability,false%>-->
    <!--<%#end%>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
