<p id="notice"><%= notice %></p>

<h1>Show Templates</h1>

<table id="client_application" class="table table-responsive table-bordered user-display">
  <thead>
    <tr>
      <th >Agreement Type</th>
      <th >Questions</th>


    </tr>
  </thead>

  <tbody>
    <% @show_templates.each do |show_template| %>
      <tr>
        <td><%= show_template.agreement_type%></td>
        <% q_array = [] %>
        <% show_template.league_segments.each do |st| %>
        <% q_array.push(Question.find(st).question)  %>
        <%end%>
        <td><%= q_array %></td>
        <td><%= link_to 'Show', show_template %></td>
        <td><%= link_to 'Edit', edit_show_template_path(show_template) %></td>
        <td><%= link_to 'Destroy', show_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show Template', new_show_template_path %>
